<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
</head>
<body>
<style>
    .contain {
        width: 600px;
    }
    .content {
        text-indent: 20px;
    }
    .title {
        text-align: center;
    }
</style>
<div class="contain">
    <h1 class="title">{{ .Title }}</h1>
    {{ range .Story }}
        <p class="content">{{ . }}</p>
    {{ end }}

    <h2>Options</h2>
    <ul>
        {{ if .Options }}
        {{range .Options }}
            <li><a href="/{{ .Arc }}">{{ .Text }}</a></li>
        {{ end }}
        {{ else }}
            <li><a href="/">Back to Intro</a></li>
        {{ end }}
    </ul>

</div>
</body>
</html>